<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>227306819919-dbgj35c4r2fvuro4b0qg1qv5l96fbift.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.227306819919-dbgj35c4r2fvuro4b0qg1qv5l96fbift</string>
	<key>API_KEY</key>
	<string>AIzaSyCBCS8CuCCwbRcqjC_IzJxPnU01xIJq8es</string>
	<key>GCM_SENDER_ID</key>
	<string>227306819919</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.visikard.planning-pocker</string>
	<key>PROJECT_ID</key>
	<string>planning-pocker-6c580</string>
	<key>STORAGE_BUCKET</key>
	<string>planning-pocker-6c580.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:227306819919:ios:a16531d809c49ae8b5f53a</string>
</dict>
</plist>